/* Stile generale della pagina */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f4f4f4;
}

/* Header con immagine di sfondo */
header {
  background: url('https://raw.githubusercontent.com/riccard006/TrustCoinwebsite/refs/heads/main/DALL%C2%B7E%202024-11-25%2019.34.22%20-%20A%20shiny%20gold%20coin%20with%20the%20text%20%27TrustCoin%27%20engraved%20on%20it%2C%20surrounded%20by%20a%20glowing%20blue%20aura%2C%20symbolizing%20trust%20and%20transparency.%20The%20coin%20features%20a.webp') no-repeat center center/cover;
  color: white;
  text-align: center;
  padding: 80px 20px;
  border-bottom: 5px solid #388e3c;
  background-size: contain;  /* Mantieni la dimensione dell'immagine proporzionale */
}

header img {
  width: 100px;
  margin-bottom: 20px;
}

h1 {
  font-size: 3rem;
  margin: 10px 0;
}

p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

/* Stile per il pulsante */
.btn {
  padding: 10px 20px;
  background-color: #388e3c;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  text-transform: uppercase;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #2c6f28;
}

/* Sezione principale */
section {
  padding: 50px 20px;
  text-align: center;
}

/* Sezione di acquisto */
#buy {
  padding: 50px 20px;
  background-color: #388e3c;
  color: white;
  text-align: center;
}

#buy h2 {
  font-size: 2rem;
}

#buy p {
  font-size: 1.2rem;
  margin: 20px 0;
}
